<div class="container px-5">
    <div class="index" id="index">
        <p class="fw-bold display-6 text-center">Hello everyone!</p>
        <p class="text-center">I am a Mexican Softare Engineering Student (<i>graduating soon</i> 😸). <b>Web</b>,
            <b>mobile</b> and <b>desktop</b> software developer.
        </p>
        <p class="text-justify">I have been focused on improving my skills and learning more about the world of
            technology. I have taken
            courses and participated in communities. A very nice journey.</p>
        <div class="row">
            <div class="col-lg-6 justify-content-center p-2 align-items-center d-flex" style="height: 300px;">
                <img src="../../../assets/imgs/community-1.jpg" alt="" style="border-radius:2px; max-width:100%; max-height: 100%;">
            </div>
            <div class="col-lg-6 justify-content-center p-2 align-items-center d-flex" style="height: 300px;">
                <img src="../../../assets/imgs/community-2.jpg" alt="" style="border-radius:2px; max-width:100%; max-height: 100%;">
            </div>
        </div>
        <br><br>
        <div>
            <h3 class="fw-bold">👨‍💻 Technologies that I love:</h3>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <p class="text-center fw-bold">PROGRAMMING LANGUAGUES</p>
                    <ul>
                        <li>
                            <img src="https://raw.githubusercontent.com/FabianCruz-0/FabianCruz-0/main/style/imgs/javascript.png" alt="">
                             JavaScript.
                        </li>
                        <li>
                            <img src="https://raw.githubusercontent.com/FabianCruz-0/FabianCruz-0/main/style/imgs/java.png" alt="">
                             Java.
                        </li>
                        <li>
                            <img src="https://raw.githubusercontent.com/FabianCruz-0/FabianCruz-0/main/style/imgs/kotlin.png" alt="">
                             Kotlin.
                        </li>
                        <li>
                            <img src="https://raw.githubusercontent.com/FabianCruz-0/FabianCruz-0/main/style/imgs/csharp.png" alt="">
                             C#.
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p class="text-center fw-bold">TECHNOLOGIES</p>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li>
                                    <img src="https://raw.githubusercontent.com/FabianCruz-0/FabianCruz-0/main/style/imgs/html.png" alt="">
                                     HTML.
                                </li>
                                <li>
                                    <img src="https://raw.githubusercontent.com/FabianCruz-0/FabianCruz-0/main/style/imgs/css.png" alt="">
                                     CSS.
                                </li>
                                <li>
                                    <img src="https://raw.githubusercontent.com/FabianCruz-0/FabianCruz-0/main/style/imgs/nodejs.png" alt="">
                                     NodeJS.
                                </li>
                                <li>
                                    <img src="https://raw.githubusercontent.com/FabianCruz-0/FabianCruz-0/main/style/imgs/springboot.png" alt="">
                                     SpringBoot.
                                </li>
                                <li>
                                    <img src="https://raw.githubusercontent.com/FabianCruz-0/FabianCruz-0/main/style/imgs/api.png" alt="">
                                     REST API's.
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li>
                                    <img src="https://raw.githubusercontent.com/FabianCruz-0/FabianCruz-0/main/style/imgs/angular.png" alt="">
                                     Angular.
                                </li>
                                <li>
                                    <img src="https://raw.githubusercontent.com/FabianCruz-0/FabianCruz-0/main/style/imgs/bootstrap.png" alt="">
                                     Bootstrap.
                                </li>
                                <li>
                                    <img src="https://raw.githubusercontent.com/FabianCruz-0/FabianCruz-0/main/style/imgs/jquery.png" alt="">
                                     JQuery.
                                </li>
                                <li>
                                    <img src="https://raw.githubusercontent.com/FabianCruz-0/FabianCruz-0/main/style/imgs/git.png" alt="">
                                     Git/GitHub.
                                </li>
                                <li>
                                    <img src="https://raw.githubusercontent.com/FabianCruz-0/FabianCruz-0/main/style/imgs/svn.png" alt="">
                                     SubVersion (SVN).
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <p class="text-center fw-bold">DATABASES</p>
                    <ul>
                        <li>
                            <img src="https://raw.githubusercontent.com/FabianCruz-0/FabianCruz-0/main/style/imgs/mysql.png" alt="">
                             MySQL.
                        </li>
                        <li>
                            <img src="https://raw.githubusercontent.com/FabianCruz-0/FabianCruz-0/main/style/imgs/sqlserver.png" alt="">
                             SQLServer.
                        </li>
                        <li>
                            <img src="https://raw.githubusercontent.com/FabianCruz-0/FabianCruz-0/main/style/imgs/firebase.png" alt="">
                             Firebase.
                        </li>
                    </ul>
                </div>
            </div>
            <br><br>
            <h3 class="fw-bold">🎯 Courses and Certificates:</h3>
            <br>
            <div class="row">
                <div class="col-md-4 py-3">
                    <h5 class="fw-bold">HackerRank</h5>
                    <ul>
                        <li class="fst-italic">
                            Problem Solving (Basic)
                            <a class="text-white fst-normal" href="../../../assets/certs/FabianCruz_ProblemSolving_HackerRank.png" target="_blank">📈 View</a>
                        </li>
                        <li class="fst-italic">
                            SQL (Basic)
                            <a class="text-white fst-normal" href="../../../assets/certs/FabianCruz_SQL_HackerRank.png" target="_blank">📈 View</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 py-3">
                    <h5 class="fw-bold">NEORIS</h5>
                    <ul>
                        <li class="fst-italic">
                            Java (Intermediate)
                            <a class="text-white fst-normal" href="../../../assets/certs/FabianCruz_Java_NEORIS.pdf" target="_blank">🌐 View</a>
                        </li>
                        <li class="fst-italic">
                            Software Projects Development Methodology
                            <a class="text-white fst-normal" href="../../../assets/certs/FabianCruz_MDPS_NEORIS.pdf" target="_blank">🌐 View</a>
                        </li>
                        <li class="fst-italic">
                            Secure Coding Practices
                            <a class="text-white fst-normal" href="../../../assets/certs/FabianCruz_SecureCodingPractices_NEORIS.pdf" target="_blank">🌐 View</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 py-3">
                    <h5 class="fw-bold">Accenture (Fundaula)</h5>
                    <ul>
                        <li class="fst-italic">
                            Java I
                            <a class="text-white fst-normal" href="../../../assets/certs/FabianCruz_Java_Accenture.pdf" target="_blank">💼 View</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 py-3">
                    <h5 class="fw-bold">UANL</h5>
                    <ul>
                        <li class="fst-italic">
                            Web Development
                            <a class="text-white fst-normal" href="../../../assets/certs/FabianCruz_WebDevelopment_UANL.jpeg" target="_blank">👨‍🎓 View</a>
                        </li>
                        <li class="fst-italic">
                            Android Programming
                            <a class="text-white fst-normal" href="../../../assets/certs/FabianCruz_AndroidProgramming_UANL.jpeg" target="_blank">👨‍🎓 View</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 py-3">
                    <h5 class="fw-bold">NASA</h5>
                    <ul>
                        <li class="fst-italic">
                            2021 Space Apps Challenge Participation
                            <a class="text-white fst-normal" href="../../../assets/certs/FabianCruz_SpaceApps_NASA.png" target="_blank">👨‍🚀 View</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 py-3">
                    <h5 class="fw-bold">SoloLearn</h5>
                    <ul>
                        <li class="fst-italic">
                            HTML
                            <a class="text-white fst-normal" href="../../../assets/certs/FabianCruz_HTML_SoloLearn.jpg" target="_blank">💡 View</a>
                        </li>
                        <li class="fst-italic">
                            Java
                            <a class="text-white fst-normal" href="../../../assets/certs/FabianCruz_Java_SoloLearn.jpg" target="_blank">💡 View</a>
                        </li>
                        <li class="fst-italic">
                            SQL
                            <a class="text-white fst-normal" href="../../../assets/certs/FabianCruz_SQL_SoloLearn.pdf" target="_blank">💡 View</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 py-3">
                    <h5 class="fw-bold">Afirme Grupo Financiero</h5>
                    <ul>
                        <li class="fst-italic">
                            Security Awareness Program
                            <a class="text-white fst-normal" href="../../../assets/certs/FabianCruz_Seguridad_Afirme.pdf" target="_blank">🏦 View</a>
                        </li>
                    </ul>
                </div>
            </div>
            <br><br>
            <p class="text-center">I am learning other technologies, the purpose is always to <i>learn</i>, <i>practice</i> and <i>improve</i>.
            </p>
        </div>
    </div>
</div>