<div class="header">
  <a [routerLink]="['']" routerLinkActive="router-link-active" class="name link"
    >Fabián Cruz</a
  >

  <p class="header-text">Full Stack Software Engineer.</p>
  <span>
    <a
      [routerLink]="['/projects']"
      routerLinkActive="router-link-active"
      class="link header-link link-proj"
      >Proyectos</a
    >
    &nbsp;&nbsp;&nbsp;
    <a href="" class="link header-link link-cont">Contactar</a>
  </span>
</div>
<app-pixi-back></app-pixi-back>
<app-three-back></app-three-back>
<div id="cursor"></div>
<div class="cont"></div>
<div class="contenido" id="contenido">
  <router-outlet></router-outlet>
</div>
