<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-5">
        <li class="nav-item">
          <a class="nav-link text-white text-decoration-underline header-link header-link-scale" href="https://github.com/FabianCruz-0" target="_blank">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-decoration-underline header-link" href="#" target="_blank">Blog</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto me-5">
        <li class="nav-item ms-5">
          <a class="nav-link text-white text-decoration-underline header-link" href="./assets/cv/FabianCruzAmador_Resume.pdf" target="_blank">Contact / CV</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="header">
  <a [routerLink]="['']" routerLinkActive="router-link-active" class="name link"
    >Fabián Cruz</a
  >
  <p class="header-text fst-italic">Full Stack Software Engineer</p>
</div>
<app-pixi-back></app-pixi-back>
<app-three-back></app-three-back>
<div id="cursor"></div>
<div id="cont" class="cont"></div>
<div class="contenido" id="contenido">
  <router-outlet></router-outlet>
</div>
