*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  cursor:none;
}
html,
body {
  scroll-behavior: smooth;
  font-family: Helvetica, Arial;
  font-size: 1.2vw;
  width: 100vw;
  height: 100vh;
  animation: 7s fade-in-body;
  overflow-x: hidden;
}

.cont {
    position: absolute;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  width: 100%;
  height: 100%;
  z-index: 10;
}

canvas {
    margin: 0;
    padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.header {
    width: 100%;
    margin-top: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: center-header 6s;
}

.name {
  color: white;
  font-size: 3vw;
  text-decoration: none;
  font-weight: bolder;
  animation: fade-in 2.1s ease-in forwards, scale-in 1.6s;
}

.link {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: transform 1s;
  }
  
  .link:hover{
      color: white;
      transform: scale(1.2)
  }

.header-text{
    animation: fade-in 3.4s ease-in forwards,scale-in 2s ;
    margin: 0;
}

.header-link{
    animation: fade-in 3.7s ease-in forwards, scale-in 2.5s;
    text-decoration: underline;
}

#cursor{
  top: -1.6vw;
  right: -1.6vw;
  position: absolute;
  background-color: rgba(238, 238, 238, 0.693);
  width: 1.6vw;
  height: 1.6vw;
  z-index: 20;
  border-radius: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
}

/* animaciones */

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade-in-body {
  0% {
    background-color: black;
  }
  45%{
    background-color: black;  
  }
  80% {
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.7) 100%
    );
  }
  100% {
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.7) 100%
    );
  }
}

@keyframes center-header {
  0% {
      margin-top: 45vh;
  }
  40% {
    margin-top: 45vh;
}
  100% {
      margin-top: 1vh;
  }
}

@keyframes scale-in {
  from{
    transform: scale(1.5);
  }
  to{
    transform: scale(1);
  }
}

/* medias responsivos */
@media (max-width:520px) {
    
    html,body{
        font-size: 3vw;
    }
    .name{
        font-size: 6vw;
    }
}
@media (min-width:511px) and (max-width:790px) {
    
    html,body{
        font-size: 2.2vw;
    }
    .name{
        font-size: 4.5vw;
    }
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}